/* === ZERANDO MEDIDAS=== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* === BODY === */
body {
    background: #001b4d;
    color: #fff;
}

/* === NAVBAR === */
.navbar {
    width: 100%;
    background: #002c7a;
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 55px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.search {
    display: flex;
    gap: 5px;
}

.search input {
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
}

/* === BANNER === */
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.banner img {
    width: 80%;
    border-radius: 25px;
}

/* === TÍTULO === */
.titulo-sessao {
    text-align: center;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-weight: 900;
}

/* === CARDS === */
.cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px 0;
}

.card {
    width: 230px;
    height: 230px;
    background: #00378f;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 90%;
    height: 90%;
    border-radius: 25px;
    object-fit: cover;
}

/* === TEXTOS DOS ESPORTES === */
.textos-esportes {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 40px;
}

.texto-item {
    width: 250px;
}

/* === FORMULÁRIO === */
.formulario {
    width: 100%;
    padding: 50px;
    background: #002c7a;
    margin-top: 30px;
}

form {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 12px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #0058ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
